.title-contactanos {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

.inputentrada {
  border-radius: 3px;
  background-color: #EEEEEE;
  margin-top: 30px;
  display: block;
  width: 57%;
  margin-left: 23%;
  height: 35px;
  padding-left: 10px;
}

.opcional {
  margin-left: 23%;
}

.title-destinatario {
  margin-left: 23%;
}

button {
  background-color: #000;
  text-align: center;
  text-color: #fff;
  margin-top: 30px;
}

.radio {
  margin-left: 25%;
}

.derecha {
  margin-right: 28%;
  float: right;
}

.textarea {
  height: 120px;
  border-radius: 3px;
  background-color: #EEEEEE;
  margin-top: 30px;
  display: block;
  width: 57%;
  margin-left: 23%;
}

.textarea::-webkit-input-placeholder {
  position: relative;
  top: -35px;
  left: 5px;
}

.btn {
  margin-left: 42%;
  width: 20%;
}
