.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.pad-riglef-8 {
  padding-right: 8px;
  padding-left: 8px;
}

.pad-riglef-20 {
  padding-right: 20px;
  padding-left: 20px;
}

.pad-top-5 {
  padding-top: 5px;
}

.pad-top-10 {
  padding-top: 10px;
}

.pad-top-15 {
  padding-top: 15px;
}

.pad-top-18 {
  padding-top: 18px;
}

.pad-top-20 {
  padding-top: 20px;
}

.pad-bo-30 {
  padding-bottom: 30px;
}

.mar-left-35 {
  margin-left: 35px;
}

.margin-10 {
  margin: 10px;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

li {
  list-style-type: none;
}

.titulogris {
  font: "Oswald", sans-serif;
  color: #919191;
  margin: 12px;
}

.imgnoti {
  margin-right: 25px;
}

.mar-left {
  margin-left: 10px;
}

.bg-imgpuntos {
  background-image: url(../image/puntitos.jpg);
  background-repeat: repeat;
  width: 100%;
  text-align: center;
  padding: 0;
}

.bg-white {
  background-color: #fff;
  margin-top: 50px;
  width: 80%;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}

.inputentrada {
  border-radius: 3px;
  background-color: #EEEEEE;
  display: block;
  width: 100%;
}

button {
  background-color: #de0000;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 30px;
  width: 100%;
  margin-bottom: 30px;
}

.icono {
  position: absolute;
  top: -45px;
  left: 37%;
}

.logo {
  margin: 25px 90px;
}

.borde {
  border: 1px solid #727272;
  position: relative;
  padding-bottom: 50px;
}

.imgawe {
  margin-left: 0px;
  margin-right: 10px;
}

.pawe {
  margin-left: 15px;
}

.morado {
  border-bottom: 5px solid #663399;
  width: 35%;
  position: absolute;
  left: 30%;
  bottom: -10px;
}

.text-morado {
  color: #663399;
  font-weight: bold;
}

.bordegris {
  border-top: 5px solid #919191;
  padding-top: 35px;
}

.gris {
  background-color: #919191;
  width: 50%;
  padding: 8px;
  position: absolute;
  left: 25%;
  top: -12px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.imggris {
  width: 100%;
}

.pgris {
  font-size: 20px;
}

.imgespe {
  width: 100%;
  margin-left: 0px;
  margin-top: 25px;
}

.pflo1 {
  background-color: rgba(255, 255, 255, 0.6);
  top: 180px;
  width: 90%;
  padding: 25px;
  left: 30px;
  text-align: center;
}

.rojo {
  background-color: #ec5454;
  width: 55%;
  padding: 8px;
  position: absolute;
  left: 25%;
  top: -12px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.borderojo {
  border-top: 5px solid #ec5454;
  padding-top: 35px;
  border-bottom: 1px solid #919191;
}
