$oswall:'Oswald', sans-serif;
$gris-claro:#919191;
$gris:#727272;
$blanco: #fff;
$rojo-bajo:#ec5454;
$blanco:#fff;
$azulfb:#3b5998;
$azultwitter:#00aced;
$rojogp:#d34836;
$rojorepu:#de0000;
$message:#FFCF01;
$rss:#ff6600;
$negro:#000;
$m5: 5px;
$m8:8px;
$m10:10px;
$m11:11px;
$m12:12px;
$m15:15px;
$style:none;
$inline:inline-block;
$m2: 2px;
$m5: 5px;
$m8:8px;
$m10:10px;
$m11:11px;
$m12:12px;
$m15:15px;
$m18:18px;
$m20:20px;
$m25:25px;
$m30:30px;
$m35:35px;
$m40:40px;
$m45:45px;
$m48:48px;
$m50:50px;
$m60:60px;
$m70:90px;
$m100:100px;
$m150: 150px;
$m200: 200px;
$m100: 100%;
$m23m:23%;
.absolute{
	position:absolute;
}
.relative{
	position:relative;
}
.pad-riglef-8{
	padding-right:$m8;
	padding-left:$m8;
}
.pad-riglef-20{
	padding-right:$m20;
	padding-left:$m20;
}
.pad-top-5{
	padding-top:$m5;
}
.pad-top-10{
	padding-top:$m10;
}
.pad-top-15{
	padding-top:$m15;
}
.pad-top-18{
	padding-top:$m18;
}
.pad-top-20{
	padding-top:$m20;
}
.pad-bo-30{
	padding-bottom:$m30;
}
.mar-left-35{
	margin-left:$m35;
}
.margin-10{
	margin:$m10;
}
.text-center{
	text-align:center;
}
.text-bold{font-weight:bold;}
li{
	list-style-type:$style;
}

// *{outline:1px solid red;}

.titulogris{
	font:$oswall;
	color:$gris-claro;
	margin:$m12;
}

.imgnoti{
	margin-right:$m25;
}
.mar-left{
	margin-left:$m10;
}


.bg-imgpuntos{
	background-image:url(../image/puntitos.jpg) ;
	background-repeat:repeat;
	width:100%;
	text-align: center;
	padding:0}
.bg-white{
	background-color:$blanco;
	margin-top:$m50;
	width:80%;
	display:inline-block;
	text-align:center;
	margin-bottom:$m20;}
.inputentrada{
	border-radius:3px;
	background-color:#EEEEEE;
	display:block;
	width:100%;
}
button{
	background-color:$rojorepu;
	border-radius:5px;
	padding:10px;
	padding-bottom:30px;
	width:100%;
	margin-bottom:$m30;
}
.icono{
	position:absolute;
	top: -45px;
	left: 37%;
}
.logo{
margin:$m25 $m70;

}
.borde{
	border: 1px  solid $gris;
	position:relative;
	padding-bottom:50px;
}
.imgawe{
	margin-left:0px;
	margin-right:$m10;
}
.pawe{
	margin-left:$m15;
}
.morado{
	border-bottom: 5px solid #663399;
	width: 35%;
	position:absolute;
	left:30%;
	bottom:-10px;
}
.text-morado{
	color:#663399;
	font-weight:bold;
}
.bordegris{
	border-top: 5px solid $gris-claro;
	padding-top:$m35;
}
.gris{
	background-color:$gris-claro;
	width:50%;
	padding:$m8;
	position:absolute;
	left:25%;
	top:-12px;
	color:$blanco;
	text-align:center;
	margin-bottom:$m20;}
.imggris{
	width:100%;
}
.pgris{
	font-size:$m20;
}
.imgespe{
	width:100%;
	margin-left:0px;
	margin-top:$m25;
}
.pflo1{
	background-color:rgba(255,255,255,0.6);
	top:180px;
	width:90%;
	padding:$m25;
	left:30px;
	text-align:center;
}
.rojo{
	background-color:$rojo-bajo;
	width:55%;
	padding:$m8;
	position:absolute;
	left:25%;
	top:-12px;
	color:$blanco;
	text-align:center;
	margin-bottom:$m20;}
.borderojo{
	border-top: 5px solid $rojo-bajo;
	padding-top:$m35;
	border-bottom: 1px solid $gris-claro;
}
.roj{
	color: $rojo-bajo;
	margin:$m10;
}
.rojimg{
	margin:auto;
}
.font-size-12{
	font-size:12px;
}