doctype html
<<<<<<< HEAD
html(lang='es')
head
	title Contacto
	meta(charset='UTF-8')
	link(rel='stylesheet', type='text/css', href='css/contacto.css')
body
	//- include head
	.contactese
		.container
			.row.nosotros
				h1.text-center. Contáctese con nosotros
				p Llena este formulario si necesita enviarnos alguna información acerca del contenido de la página web, su funcionalidad, o si tiene alguna propuesta de información o mejora del sitio.Asi mismo, puede hacer llegar a los redactores su opinión acerca de los contenidos de una determinada sección el cual podrá elegir como destinatario.
			.row.datos
				.col-md-6
					form
						input.inputentrada(type='text' placeholder='Nombres Completos') 
						input.inputentrada(type='email' placeholder='Correo Electrónico')  
						input.inputentrada(type='text' placeholder='Teléfonos')
						p (Opcional)
			.row.elegir
				.col-md-6
					h4 Elije un destinatario
						.col-md-12.form-group
							.radio
								input(type="radio", name="optradio") 
								h5 Sugerencia para el sitio web <span( class="pull-right")>(Ej: funcionamiento y mejoras para el sitio)</span>
							.radio
								input(type="radio", name="optradio") 
								h5 Direccion Periodistica <span( class="pull-right")> (Ej: Sugerencia para la nota de prensa)</span>
								
							.radio
								input(type="radio", name="optradio")
								h5 Direccion Comercial <span( class="pull-right")>(Ej: Publicidad en Diarios o sitios web)</span>
								
							.radio
								input(type="radio", name="optradio")
								h5 Cartas al director <span( class="pull-right")> (Ej: Denuncias, comentarios e impresiones)</span>
								
							.radio
								input(type="radio", name="optradio")
								h5 Promociones y productos del diario <span( class="pull-right")> (Ej: Promociones, Tablet,etc)</span>
								
							.radio
								input(type="radio", name="optradio")
								h5 Archivo Periodistico <span( class="pull-right")>(Ej: Ediciones impresas/fotos)</span>
			.row.comentario
				.col-md-6
					textarea.inputentrada(rows="5" id="comment" placeholder='Mensaje')
			.row
				button(class="btn") ENIAR
	include footer.jade
=======
html(lang='es-PE')
	head
		meta(charset='UTF-8')
		title Columnistas
		link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css')
		link(rel='stylesheet', type='text/css', href='css/dist/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='css/dist/bootstrap.css')
		link(rel="stylesheet",href="css/ionicons.css")
		link(rel='stylesheet', type='text/css', href='css/dist/slick.css')
		link(rel='stylesheet', type='text/css', href='css/dist/slick-theme.css')
		link(rel='stylesheet', type='text/css', href='css/main.css')
		link(rel='stylesheet', type='text/css', href='css/columnistas.css')
		script(src='http://code.jquery.com/jquery-1.12.3.min.js')
		script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
		script(type='text/javascript', src='js/bootstrap.min.js')
		script(type='text/javascript', src='js/slick.min.js')
		script(type='text/javascript', src='js/bootstrap-hover-dropdown.min.js')
		script(type='text/javascript', src='js/modernizr.custom.68172.js')
		script(type='text/javascript', src='js/respond.js')
	body
		header
			seccion
				.fondo-gris.publicidad
					.container
						.row
							.col-md-12
								.img-top.text-center.pad-top-10
									img(src="image/banner_top.jpg")
						.row.text-center
							.col-md-6
								ul.list-style.pad-top-20
									li.inline.pad-right-15.pad-left-40.bold.text12 LIBERO.PE
									li.inline.pad-right-15.bold.text12 ELPOPULAR.PE
									li.inline.pad-right-15.bold.text12 FUNDACIÓN GUSTAVO MOHME LLONA
							.col-md-6.text-left
								ul.list-style.pad-top-18
									li.pad-right-10.inline
										a.deconon.btn-rojo.text12(href="#") SUSCRÍBETE AL BOLETÍN
									li.pad-right-10.inline                                            
										a.deconon(href="") 
											i.text18.fb.ion-social-facebook
									li.pad-right-10.inline
										a.deconon(href="")
											i.text18.twitter.ion-social-twitter
									li.pad-right-10.inline
										a.deconon(href="")
											i.text18.googleplus.ion-social-googleplus
									li.pad-right-10.inline
										a.deconon(href="")
											i.text18.message.ion-ios-email
									li.pad-right-10.inline
										a.deconon(href="")
											i.text18.rss.ion-social-rss
									li.pad-right-10.inline
										a.deconon.negro.buscar(href="") BUSCAR
											i.text18.negro.ion-android-search
			seccion.menu-diario
				.container
					.row
						.col-md-5.text-center
							img.pad-top-35.mar-top-20(src="image/logo-la-republica.jpg", alt="la republica")
						.col-md-3
							.especial.mar-top-35.text-center
								p.sobre1 DOMINGO
								.dentro1 HABLA LA LIDERESA DEL NACIONALISMO
						.col-md-4
							.editorial.mar-top-35.mar-bottom-20
								img.hori.img.responsive(src="image/img_editorial_text.jpg", alt="editorial")
								p.text-center.frase-principal.bold.pad-top-5 La corrupción, los orígenes
								p.text-center.frase-secundaria por:  Gustavo Mohme Llana
								img.author(src="image/img_author.jpg", alt="autor")
					.row
						.col-md-12
							div
								nav
									ul.fancyNav
										li#politica
											a(href="#politica ") POLÍTICA
										li#economia
											a(href="#economia") ECONOMÍA
										li#sociedad
											a(href="#sociedad") SOCIEDAD
										li#elecc
											a(href="#elecc") ELECC. REGIONALES
										li#deportes
											a(href="#deporte") DEPORTES
										li#champions
											a(href="#champions") CHAMPIONS L.
										li#espectaculos
											a(href="#espectaculos") ESPECTÁCULOS
										li#impresa
											a(href="#impresa") ED. IMPRESA
										li#regional
											a(href="#regional") REGIONALES
										li#mas-secciones
											a(href="#mas-secciones") MÁS SECCIONES           
					.row
						.col-md-1
							.publicidad-izquierda
								img(src="image/publicidad_1.png", alt="")
						.col-md-10
							.temas.inline.bg-gris.relative
								.title.inline.bg-negro.color-blanco.pad-topbot-5.pad-riglef-8 TEMAS DEL DÍA
								ul.list-style.inline.pad-topbot-5.bg-gris.pad-left-0.color-negro
									li.pad-left-5.inline
										a.color-negro.pad-left-5s(href="")
											i.ion-ios-arrow-back
									li.pad-left-5.inline
										a.color-negro.pad-left-5.text12(href="") Globos de oro
									li.pad-right-5.inline &#8226;
										a.color-negro.pad-left-5.text12(href="") Youtube
									li.pad-right-5.inline &#8226;
										a.color-negro.pad-left-5.text12(href="") PNP
									li.pad-right-5.inline &#8226;
										a.color-negro.pad-left-5.text12(href="") Chalie Hebdo
									li.pad-right-5.inline &#8226;
										a.color-negro.pad-left-5.text12(href="") FC Barcelona
									li.pad-right-5.inline &#8226;
										a.color-negro.pad-left-5.text12(href="") Alianza Lima
									li.pad-right-5.inline &#8226;
										a.color-negro.pad-left-5.text12(href="") Balón de Oro
									li.pad-right-5.inline &#8226;
										a.color-negro.pad-left-5.text12(href="") Alianza Lima
									li.pad-right-5.inline &#8226;
										a.color-negro.pad-left-5.text12(href="") Municipalidad
									li.pad-right-5.inline
										a.color-negro.pad-left-5(href="")
											i.ion-ios-arrow-forward
							.banner.mar-top-10
								img(src="image/banner-header.jpg", alt="Maestrías")
							.title-contactanos Contáctese con nosotros
							p.texto-contactanos.pad-top-35 Llena este formulario si necesita enviarnos alguna información acerca del contenido de la página web, su funcionalidad, o si tiene alguna propuesta de información o mejora del sitio.Asi mismo, puede hacer llegar a los redactores su opinión acerca de los contenidos de una determinada sección el cual podrá elegir como destinatario.
							.row
								form
									input.inputentrada(type='text' placeholder='Nombres Completos') 
									input.inputentrada(type='email' placeholder='Correo Electrónico')  
									input.inputentrada(type='text' placeholder='Teléfonos')
									p (Opcional)
						.col-md-1
							.publicidad-derecha
								img(src="image/Publicidad_2.png", alt="")
>>>>>>> 898570dc0b85f270106686c30632cf8954fa40cb
