doctype html
html(lang='es-PE')
  head
    meta(charset='UTF-8')
    title footer
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css')
    link(rel='stylesheet', type='text/css', href='css/dist/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='css/dist/bootstrap.css')
    link(rel="stylesheet",href="css/ionicons.css")
    link(rel='stylesheet', type='text/css', href='css/dist/slick.css')
    link(rel='stylesheet', type='text/css', href='css/dist/slick-theme.css')
    link(rel='stylesheet', type='text/css', href='css/main.css')
    link(rel='stylesheet', type='text/css', href='css/columnistas.css')
    link(rel='stylesheet', type='text/css', href='css/footer.css')
    script(src='http://code.jquery.com/jquery-1.12.3.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/slick.min.js')
    script(type='text/javascript', src='js/bootstrap-hover-dropdown.min.js')
    script(type='text/javascript', src='js/modernizr.custom.68172.js')
    script(type='text/javascript', src='js/respond.js')
  body
    footer.bg-gris.pad-top-10.mar-top-15
        .container
            .row
                .col-md-1
                .col-md-3
                    .grupo-repu
                        img(src="image/logo-grupo-la-republica.png", alt="")
                        p Grupo La República Digital
                        p Jr. Camaná 320 Cercado de Lima
                        p Teléfono: 711-6000
                        p (Central Telefónica)
                        p Todos los derechos reservados - 2015
                .col-md-2
                    p.text10 Roger Federer
                    p.text10 SBS
                    p.text10 Scarlett Johanson
                    p.text10 Scotiabank
                    p.text10 Selena Gómez
                    p.text10 Spiderman
                    p.text10 Sporting Cristal
                    p.text10 Sunat
                    p.text10 Telefónica del Perú
                    p.text10 The Walking Dead
                    p.text10 Twitter
                    p.text10 Universidad Cesar Vallejo
                    p.text10 Universidad San Martin
                    p.text10 Universidad de Deportes
                    p.text10 Xbox
                    p.text10 YouTube
                    p.text10 Bayern Múnich
                    p.text10 Bayern Múnich
                    p.text10 BBVA
                    p.text10 Xbox
                    p.text10 BCP
                .col-md-2
                    p.text10 Roger Federer
                    p.text10 SBS
                    p.text10 Scarlett Johanson
                    p.text10 Scotiabank
                    p.text10 Selena Gómez
                    p.text10 Spiderman
                    p.text10 Sporting Cristal
                    p.text10 Sunat
                    p.text10 Telefónica del Perú
                    p.text10 The Walking Dead
                    p.text10 Twitter
                    p.text10 Universidad Cesar Vallejo
                    p.text10 Universidad San Martin
                    p.text10 Universidad de Deportes
                    p.text10 Xbox
                    p.text10 YouTube
                    p.text10 Bayern Múnich
                    p.text10 Bayern Múnich
                    p.text10 BBVA
                    p.text10 Xbox
                    p.text10 BCP
                .col-md-2
                    p.text10 Roger Federer
                    p.text10 SBS
                    p.text10 Scarlett Johanson
                    p.text10 Scotiabank
                    p.text10 Selena Gómez
                    p.text10 Spiderman
                    p.text10 Sporting Cristal
                    p.text10 Sunat
                    p.text10 Telefónica del Perú
                    p.text10 The Walking Dead
                    p.text10 Twitter
                    p.text10 Universidad Cesar Vallejo
                    p.text10 Universidad San Martin
                    p.text10 Universidad de Deportes
                    p.text10 Xbox
                    p.text10 YouTube
                    p.text10 Bayern Múnich
                    p.text10 Bayern Múnich
                    p.text10 BBVA
                    p.text10 Xbox
                    p.text10 BCP
                .col-md-2
                    p.text10 Roger Federer
                    p.text10 SBS
                    p.text10 Scarlett Johanson
                    p.text10 Scotiabank
                    p.text10 Selena Gómez
                    p.text10 Spiderman
                    p.text10 Sporting Cristal
                    p.text10 Sunat
                    p.text10 Telefónica del Perú
                    p.text10 The Walking Dead
                    p.text10 Twitter
                    p.text10 Universidad Cesar Vallejo
                    p.text10 Universidad San Martin
                    p.text10 Universidad de Deportes
                    p.text10 Xbox
                    p.text10 YouTube
                    p.text10 Bayern Múnich
                    p.text10 Bayern Múnich
                    p.text10 BBVA
                    p.text10 Xbox
                    p.text10.pad-bottom-25 BCP
    .post-footer.bg-gris
        .container
            .row
                .col-md-12
                    .text-center.pad-top-15.pad-bottom-10
                        p.text10.color-gris Diarios del PAL: Clarin &#124; La Tercera &#124; El Universal Colombia &#124; El Universal Venezuela &#124; Vanguardia &#124; La Prensa &#124; El Salvador &#124; La Verdad &#124; Diario Libre &#124; El diario de hoy &#124; El colombiano
                
