doctype html
html(lang='es-PE')
  head
    meta(charset='UTF-8')
    title Home
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css')
    link(rel='stylesheet', type='text/css', href='css/dist/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='css/dist/bootstrap.css')
    link(rel="stylesheet",href="css/ionicons.css")
    link(rel='stylesheet', type='text/css', href='css/dist/slick.css')
    link(rel='stylesheet', type='text/css', href='css/dist/slick-theme.css')
    link(rel='stylesheet', type='text/css', href='css/main.css')
    link(rel='stylesheet', type='text/css', href='css/medio.css')
    script(src='http://code.jquery.com/jquery-1.12.3.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/slick.min.js')
    script(type='text/javascript', src='js/bootstrap-hover-dropdown.min.js')
    script(type='text/javascript', src='js/modernizr.custom.68172.js')
    script(type='text/javascript', src='js/respond.js')
  body
    .container
        .row
            .col-md-1
            .col-md-7
                ul.list-style
                    li.inline.primicia.text-center.mar-right-10.mar-bottom-10
                        p.title-primicia.bold.pad-top-10 Mercado Pases 2015
                        .sombra.relative.text-left
                            img.img-responsive.relative(src="image/img_especiales.jpg", alt="")
                            .text-grid3.color-blanco.bold 
                                p.text-primicia Merdado de Pases 2015: altas, bajas y rumores de los equipos peruanos.
                        .foot.pad-top-10.pad-bottom-10
                            a(href="#").color-negro Todo sobre 
                                b Mercado de pases 2015
                    li.inline.primicia.text-center
                        p.title-primicia.bold.pad-top-10 Mercado Pases 2015
                        .sombra.relative.text-left
                            img.img-responsive.relative(src="image/img_especiales.jpg", alt="")
                            .text-grid3.color-blanco.bold 
                                p.text-primicia Merdado de Pases 2015: altas, bajas y rumores de los equipos peruanos.
                        .foot.pad-top-10.pad-bottom-10
                            a(href="#").color-negro Todo sobre 
                                b Mercado de pases 2015
                ul.list-style
                    li.inline.primicia.text-center.mar-right-10.mar-bottom-10
                        p.title-primicia.bold.pad-top-10 Mercado Pases 2015
                        .sombra.relative.text-left
                            img.img-responsive.relative(src="image/img_especiales.jpg", alt="")
                            .text-grid3.color-blanco.bold 
                                p.text-primicia Merdado de Pases 2015: altas, bajas y rumores de los equipos peruanos.
                        .foot.pad-top-10.pad-bottom-10
                            a(href="#").color-negro Todo sobre 
                                b Mercado de pases 2015
                    li.inline.primicia.text-center
                        p.title-primicia.bold.pad-top-10 Mercado Pases 2015
                        .sombra.relative.text-left
                            img.img-responsive.relative(src="image/img_especiales.jpg", alt="")
                            .text-grid3.color-blanco.bold 
                                p.text-primicia Merdado de Pases 2015: altas, bajas y rumores de los equipos peruanos.
                        .foot.pad-top-10.pad-bottom-10
                            a(href="#").color-negro Todo sobre 
                                b Mercado de pases 2015
            .col-md-3
                .banner
                    img.img-responsive(src="image/banner-aside-home.jpg", alt="")
            .col-md-1