doctype html
html(lang='es-PE')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Home
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css')
    link(rel='stylesheet', type='text/css', href='css/dist/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='css/dist/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='css/dist/bootstrap.min.css')
    link(rel="stylesheet",href="css/ionicons.css")
    link(rel='stylesheet', type='text/css', href='css/dist/slick.css')
    link(rel='stylesheet', type='text/css', href='css/dist/slick-theme.css')
    link(rel='stylesheet', type='text/css', href='css/main.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    script(src='http://code.jquery.com/jquery-1.12.3.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/slick.min.js')
    script(type='text/javascript', src='js/bootstrap-hover-dropdown.min.js')
    script(type='text/javascript', src='js/modernizr.custom.68172.js')
    script(type='text/javascript', src='js/respond.js')
  body
    seccion.container
      .row
        .col-md-2
          //- espacio
        .col-md-5
          h3.titulogris ÚLTIMAS NOTICIAS
            | 
            img(src="image/double-arrow-bottom.png")
          mixin noticias(hacetiempo, titular, foto, parrafo)
            .row         
              p= hacetiempo
              h3= titular
              .col-md-3
                img.imgnoti(src=foto)
              .col-md-9
                p.mar-left= parrafo
                ul.list-style
                  li.inline
                    .icon.inline
                      a.fb.inline.ion-social-facebook(href="#")
                    .icon.inline
                      a.twitter.inline.ion-social-twitter(href="#")
                    .icon.inline
                      a.googleplus.inline.ion-social-googleplus(href="#")
              hr
          +noticias('Hace 1 hora 12 mins', 'Emma Watson protagonizará La bella y la bestia | VIDEO', '../image/img_news_grid.jpg' , ' La actriz Emma Watson fue confirmada por Disney como la protagonista de &apos;La bella y la bestia&apos; en la version de carne y hueso.')
          +noticias('Hace 1 hora 12 mins', 'Roque Benavides respalda proyecto Tía María y espera que Conga se socialice', '../image/thumb-post-image.jpg', 'Zenaida Condori Contreras Arequipa Para el presidente de la Compañía de Minas Buenaventura, Roque Benavides, el proyecto Tía María, que promueve Southern Perú, ya debe...')
          +noticias('Hace 1 hora 12 mins', 'Emma Watson protagonizará La bella y la bestia | VIDEO', '../image/img_news_grid.jpg' , ' La actriz Emma Watson fue confirmada por Disney como la protagonista de &apos;La bella y la bestia&apos; en la version de carne y hueso.')
          +noticias('Hace 1 hora 12 mins', 'Real Madrid: Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el Atlético de Madrid', '../image/img_aweita.jpg' , 'Despues de la pésima actitud de Cristiano Ronaldo, al agredir a Edimar en el partido del cuadro madridista contra el Córdoba, el Comité de Competición ha llegado...')
          +noticias('Hace 1 hora 12 mins', 'YouTube: hombre finge ahogarse y su perro lo rescata | FOTOS', '../image/aside-image-temasrelacionados-01.jpg' , 'Despues de la pésima actitud de Cristiano Ronaldo, al agredir a Edimar en el partido del cuadro madridista contra el Córdoba')
        .col-md-3
          .row.bg-imgpuntos
            .bg-white
              img.relative(src='image/img_sucribe.png')
              h3
                strong Suscríbete a nuestro boletín               
              input(type='text')
                |               
              button SUSCRIBIRSE               
          .row.borde
            img.text-center(src="image/logo_aweita.jpg")
            mixin aweita
              ul
                li.row
                  .col-md-4
                    img(src="image/img_aweita.jpg")
                  .col-md-8
                    p Juan Roman Riquelme el adi&ograve;s al &quot;&Ugrave;ltimo 10 de Argentina&quot;
            +aweita
            +aweita
            +aweita
            +aweita
            p Màs en 
              a(href='#') Aweita.pe              
          div
            hr.linea-gris
            p.gris FOTOS DESTACADAS
            img(src="image/img_fotodes_prominent.jpg")
            p Lineas de Nasca: admiten prisi&ograve;n preventiva de 6 meses para activista de Greenpeace | FOTOS   
          mixin destacadas
              ul
                li.row
                  .col-md-5
                    img(src="image/img_fotodes.jpg")
                  .col-md-7
                    p Uchuraccay: El pueblo que recibe con flores a quienes llegan de pie| FOTOS 
          +destacadas
          +destacadas
          +destacadas
          div
            hr.linea-gris
            p.gris ESPECIALES
            mixin lista
              ul
                li: img(src="image/img_grid_secundario.jpg")
                p Regimen laboral juvenil
            +lista
            +lista
            +lista
          hr
          div
            hr.linea-gris
            p.gris CARLINCATURA DEL DÌA
            p Carlincaturas 30-01-2015
            img(scr="image/listado_carlincatura_thumb_03.jpg")
          div
            hr.linea-gris
            p.gris NUESTROS BLOGUEROS
            mixin blogueros
              ul
                li.row
                .col-md-3
                  img(src="image/img_blogueros.jpg")
                .col-md-9
                  p Augusto Alvarez Rodrich
                  p Disney como la protagonista de &apos;La bella.
            +blogueros
            +blogueros
            +blogueros
            +blogueros
            +blogueros
            +blogueros
            +blogueros
            +blogueros
          div
            hr.linea-roja
            p.roja La Republica - Lima
            img(src="image/img_submenu_edimpresa.jpg")
            mixin impresa
              ul
                li.row
                .col-md-5
                  img(src='image/img_impreso_sd.jpg')
                .col-md-7
                  p Extorsionan a menores en colegios
                  p:a(href='#') La República
            +impresa
            +impresa
            +impresa
          div
            hr.linea-roja
            p.roja Infografías
            +lista
            +lista
          div.bg-imgpuntos
            div.bg-white
              img(scr="image/img_pregunta.png")
              h2 La pregunta de hoy
              p ¿Cree usted que la premier Ana Jara debe renunciar?
              input(type="radio",)
              p Si
              input(type="radio",)
              p No
              a(href="#") Ver resultdos 
            div.bg-white
              h2 La pregunta de ayer
              p ¿Cree usted que se militarizo la conmemoracion del fallo de la Haya en Lima?
              div
                div.verde
                  p.absolute 55%
                div.rayas
              div
                div.rojo
                  p.absolute 25%
                div.rayas
               p No
              a(href="#") Ver preguntas pasadas
          div.borde
            img(scr="image/logo_libero.jpg")
            mixin libero
              ul
                li.row
                .col-md-5
                  img(src="image/img_video_destacado.jpg")
                .col-md-7
                  p fiorentina empato 1-1 en su visita a lafiorentina empato 1-1 en su visita a la
            +libero
            +libero
            +libero
            +libero
            p Màs en 
              a(href='#') Libero.pe
          div.borde
            img(scr="image/logo_popular.jpg")
            mixin elpopular
              ul
                li.row
                .col-md-5
                  img(src="image/fotogaleria_col02_01.jpg")
                .col-md-7
                  p fiorentina empato 1-1 en su visita a lafiorentina empato 1-1 en su visita a la
            +elpopular
            +elpopular
            +elpopular
            +elpopular
            p Màs en 
              a(href='#') elPopular.pe
          div.borde
            img(scr="image/logo_wapa.jpg")
            mixin wapa
              ul
                li.row
                  .col-md-5
                    img(src="image/img_news_grid.jpg")
                  .col-md-7
                    p ¿Como renovar el guardaropa de los más pequeños en este verano?
            +wapa
            +wapa
            +wapa
            +wapa
            p Màs en 
              a(href='#') wapa.pe
          div.bg-imgpuntos
            div.bg-white
              img(scr="image/img_reporteroc.png")
              h2 Reportero ciudadano
              img(scr="image/img_sd_reporteroc.jpg" )
              p: strong Estacionamiento indebido
              p ¿Está permitido que dejen su auto en reiteradas veces todo la noche en la puerta de tu casa?
            buton ENVIAR FOTOS
            a(href="#") Mas fotos
          .col-md-2
            //- espacio













